.m-icon{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.m-icon-search{
    background-image: url(../../assets/icon/search.png) ;
}

.m-icon-dashboard{
    background-image: url(../../assets/icon/dashboard.png) ;
}

.m-icon-16{
    background-size: 16px 16px;
}

.m-icon-employee{
    background-image: url(../../assets/icon/dic-employee.png);
}

.m-icon-document{
    background-image: url(../../assets/icon/document-online.png);
}

.m-icon-setting{
    background-image: url(../../assets/icon/setting.png);
}

.m-icon-report{
    background-image: url(../../assets/icon/report.png);
}

.m-icon-save{
    background-image: url(../../assets/icon/);
}
.m-icon-x{
    background-image: url(../../assets/icon/x.svg);
}